
body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    background-color: #EBEEF5;
}

html {
    height: 100%;
}

.navigation-bar-box {
    height: 60px;
    background-color: #409EFF;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navigation-bar-icon {
    width: 30px;
    margin-left: 30px;
}
.navigation-bar-title {
    color: #fff;
    margin-left: 10px;
}

.main-box {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}

.video-box {
    border-top: 1px dashed #409EFF;
    margin-top: 30px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.footer-box {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #E4E7ED;
    padding-top: 10px;
    padding-bottom: 10px;
}