<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>短视频解析无水印 - 橘子软件</title>

    <meta name="keywords" content="抖音去水印，快手去水印，微视去水印，秒拍去水印，小咖秀去水印">
    <meta name="description" content="短视频解析无水印，目前支持抖音去水印，快手去水印，微视去水印，秒拍去水印，小咖秀去水印">

    <link href="css/app.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="navigation-bar-box">
        <img class="navigation-bar-icon" src="favicon.ico" >
        <span class="navigation-bar-title">短视频解析无水印</span>
    </div>

    <br/>
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-3 col-lg-3"></div>
        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6">
            <div class="alert alert-success" role="alert">
                免费用户只能试用
            </div>
            <div class="main-box"></div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-3 col-lg-3"></div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>